@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-xs-12">
            <h2>I'm Logged in</h2>
        </div>
    }
    else
    {
        // Left column
        <div class="col-lg-9 col-md-8 col-sm-7">
            <h2>I'm Not Logged in</h2>
        </div>

        // Right column
        <div class="col-lg-3 col-md-4 col-sm-5">
            
        </div>
    }
</div>